<h1><%= @article.title %></h1>
<br />

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br />

<p><%= @article.body %></p>
<br />

<%= link_to "Edit Article", edit_article_path(@article) %>
<br />

<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<br />

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<br />

<%= render partial: 'comments/form' %>

<%= link_to "Back to Articles List", articles_path %>
<!-- The class is 'new_article' because I want it in the top right corner, and the 'new_article' css class will put it there. -->
<%= link_to "Back to Articles List", tags_path, class: "new_article" %>